/*
 Theme Name:     BZine Child 
 Theme URI:      http://wpbootstrap.net/theme/bzine/
 Description:    BZine Child Theme
 Author:         WPBootstrap
 Author URI:     http://www.wpbootstrap.net
 Template:       bzine
 Version:        1.2.5
*/

@import url("../bzine/style.css");
@import url("../bzine_child/js/bootstrap.min.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

/* *{outline:none} */

.clearfix,.spacer{clear:both }
.text-center{text-align:center;}

body{
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    background-attachment:fixed;
    background-color:#fff;
	background-image: none;
	
	background-repeat:no-repeat;
    background-position:cover;
    background-size:cover;
    color:#515151;
}

/* = boxed layout
******************************/
.boxed:not(.active) {
    background: #FFF;
}

/* = Top header 
***************************************/
body.bzine-diagonal ._header_top div.box_breaking_news div.breaking_news_ribbon:after,
._header_top.style3 div.box_breaking_news div.breaking_news_ribbon:after{
     border-width: 0px 0px 40px 30px;
}
._header_top{
    height:33px;
    background:#E9EEE9;
    border-bottom:0px solid #303030;
}
.header_top{
    height:40px;
    padding:0 24px; 
    margin: -5px;
}
div.box_breaking_news div.breaking_news_ribbon:after{
    border-color: #275002 transparent #275002 transparent ;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    content: " ";
    height: 0;
    right: 0px;
    position: absolute;
    top: 0px;
    bottom:0;
    width: 0;
}
/* Socmed Icon */
.socmed a{
    color: #000!important;
    margin:0;
    width:40px;
    font-size: 22px;
    display:block;
    height:40px;
    padding:10px 8px;
    text-align:center;
    cursor:pointer;
    line-height:20px;
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* = Menu navigation 
***************************************/
._main_navigation{
    border-top:0px solid #275002;
    height:52px;
    position:relative;
    background: linear-gradient(to bottom, #2D6D25 0px, #275002 100%) repeat scroll 0 0 #275002;
    
}
nav.main-navigation{
    height:50px;
    width:100%;
    float:left;
    font-size:16px;
    font-weight:600;
    line-height:16px;
    position:relative;
    margin:0px auto 0px;
    font-family: 'Open Sans Condensed', sans-serif, bold !important;    
}
nav.main-navigation > ul li a{
    color:#ffffff;
    line-height:20px;
    padding:14px 16px 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform:uppercase;
    outline:none;
    margin:0 10px; 
}
nav.main-navigation > ul li a:before{
border-right: 1px solid #387A30;
    content: "";
    height: 20px;
    position: absolute;
    right: 1px;
    top: 15px;
    width: 1px;
}   
nav.main-navigation > ul li a li{
    font-size:12px;
    margin-left:0px;
}
nav.main-navigation li:hover > a,
nav.main-navigation ul ul :hover > a {
    background:#ADD82B;
    color: #fff !important;
    text-shadow: 1px 1px 1px #000000;
}
nav.main-navigation > ul li > ul{
    display:none;
    position:absolute;
    padding:10px 0px 10px 0px;
    border-top:2px solid #11AA72;
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    border-bottom:1px solid #000000;
    background: url(img/sub_main_nav.png);
    margin:0px;
    left:0;
    z-index: 9999;
    
    
}
nav.main-navigation > ul li > ul li a{
    color:#fff !important;
    text-shadow: 1px 1px 1px #000000;
}
nav.main-navigation > ul li > ul ul li a{
    padding:5px 5px;
}
nav.main-navigation ul.nav li.current-menu-item{
    background:none !important;
    margin: 0 1px; 
}
nav.main-navigation ul.nav li.current-menu-item a:hover, 
nav.main-navigation ul.nav .current-menu-item a{
    color:#ffffff;
    background:#B0D837;
    text-shadow: 1px 1px 1px #000000;
}
/* = Content
***************************************/
._content{
    min-height:20px;    
    background: #E9EEE9;
}

/* = slider 3
***************************************/
.slider3 .caroufredsel_wrapper{
    max-height:520px;
}

/* = Post end Pages
***************************************/
.post_thumb img{
    /* min-width:100%; */
}
.post .storycontent{
    padding:0 20px 0 20px;
    border-bottom:none; 
}
.post .storycontent:first-child{
    margin-bottom: 0px;
}
.post .storycontent .entry{
    position:relative;  
    margin-top:10px;
    padding-left:0px;
}

/* list-v1 */
div.panel-v ul li:before{
    content: "?";
    font-family: "FontAwesome";
    height:2px;
    width:2px;
    line-height:5px;
    color:#989898;
    left: -10px;
    position: absolute;
    top:5px;
    font-size:4px;
    z-index:999;
}

blockquote {
    padding: 15px 0px 15px 15px ;
    margin: 0px 0px 20px;
    border-left:5px solid #ccc;
    background:#E9EEE9;
}

h2.ribbon{
	background: #275002;
	font-family: 'Open Sans Condensed', sans-serif, bold !important;
	font-size: 17px;
}

/* = List on Tabs
************************************/
.nav-tabs.news_tabs{
	border-bottom:none;
	font-family:'Open Sans Condensed',sans-serif, bold !important;
	font-size: 17px;
	background:#275002;
	border-top:4px solid #11AA72;
	padding:5px 15px 0 15px;
}

/* = SIDEBAR 
**************************************************/
h2.widget_title{
    font-weight:600;
    color:#275002;
    text-transform:uppercase;
    font-size:15px;
    padding: 0 0px 20px 0;
    margin:0;
    position:relative;
    line-height:24px;
    font-family: 'Open Sans Condensed', sans-serif, bold !important;
}
.sidebar h2.widget_title{
    background:#B0D837;
    padding: 15px 0px 15px 15px;
    padding: 10px 0px 10px 10px;
    border-left:3px solid #11AA72;
}

.widget h2.widget_title, h2.ribbon-v3 span {
    color: #275002 !important;
    font-family: 'Open Sans Condensed:300';
    font-size: 17px;
    font-weight: bold;
}

/* media-2col */
.post-black {
 
color:#565A55;
font-family: 'Arimo', sans-serif;
}
 
.post-black  a{
 
color:#565A55;
font-family: 'Arimo', sans-serif;
}

/* Widget Footer */
.widget.widget_footer{
    color:#E4D5C1;
    margin-top:0;
    margin-bottom:30px;
}
.widget.widget_footer h2.widget_title{
    font-size:18px; 
    font-family: 'Open Sans Condensed', sans-serif, bold !important;
    color: #FFF !important;
}


/*  search  */
#witgetsearch{
    padding:0px 0px 0px 0px;
}

/* bbPress */
.widget.widget_footer a{
    color:#E4D5C1;
}

/* = Footer 
************************************************/
._footer{
    background:#181818;
    background-image: url(img/footer_background.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top:3px solid #11AA72;
}

/* = Copy  
************************************************/
._copy{
    background:#070707;
    background:#282727;
    background-image: url(img/footer_background.jpg);
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 768px) {
    .boxed.active {
        width:100%;
    }
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .box_breaking_news{
         display:none; 
    }
    /*
    .header {
        height: 190px;
    }
    */
    .header {
        padding-right:10px;
        padding-left:10px;
    }
    
    
    .header .logo{
        width:100%;
        
        margin-top:20px;
 
        text-align:center;
    }
    
    /*
    .header .logo{
        width:100%;
        
        margin-top:20px;
        height:60px;
        text-align:center;
    }
    .header .logo img{
        height:60px;
    }
    */
    
    .header .trusted, .header .search{
        width:100%;
        text-align:center;
    }
  }
  /* Custom Style Tabelle Short */
.table-short {
display: block;  
}

.table-short table{
margin: 20px 0;
}
 
.table-short th{
font: 15px;
color: #fff;
text-align: left;
padding: 10px 15px 10px;
background: #275121;
}
 
.table-short tr {
border-bottom: 1px solid #C9E0C9;
}
 
.table-short tr:nth-child(2n+1) {
background-color: #E9EEE9;
}
 
.table-short td{
text-align: left;
padding: 7px 10px 7px 15px;
}
 
/*Custom Style Tabelle Long*/

.table-long {
display: block; 
}

.table-long table p{
margin-bottom: 0px; 
}
 
.table-long table {
margin: 20px 0;
}
 
.table-long th{
font-size: 13px;
color: #FFF;
padding: 15px 10px;
background: #275121;
border-right: 1px solid #E9EEE9;
line-height: 14px; 
border-bottom: 2px solid #ADD82B;
}
 
.table-long td{
text-align: left;
padding:10px 5px 10px 5px;
border-bottom: 2px solid #ADD82B;
border-right: 1px solid #E9EEE9; 
 
}
 
/* Image Credits Custom  */
 
.imagecredits {
color: #6A6F69;
font-size: 10px;
width: 110%;
height: auto;
border-top: 2px solid #E9EEE9; 
padding: 10px 20px;
margin-left: -3%;
}
 
.creditnumber {
float: left; 
width: auto; 
}
 
.imagenumber {
font-weight: 800;  
}
 
.imageright {
margin: 0 15px 0 5px;  
}
 
/* Highlight  */
 
.highlighter {
background: #6A6F69; 
width: 60%; 
max-width: 300px; 
box-shadow: 1px 1px 2px grey; 
padding: 20px 20px 10px 10px; 
border-left: 7px solid #ADD82B;
color: #fff; 
font-weight: 500; 
}

/* = List Mini 
*******************************************************/
ul.list-mini{
	list-style:none;
	margin:0;
	width:100%;
	float:left;
	border-left:0;
}
ul.list-mini li{
	background:#fff;
	padding:13px 15px;
	position:relative;
	border-bottom:1px solid #e6e6e6;
	height:100px;
}

ul.list-mini li:last-child{
	border-bottom:none!important;
}
ul.list-mini li div.newsImg{
	height:70px;
	top:15px;
	left:15px;
	position:absolute;
	width:70px;
	overflow:hidden;
}
ul.list-mini li h3{
	float:left;
	font-weight:500;
	padding: 0px 0px 0px 85px;
	font-size:14px; 
	line-height:20px;
	width:100%;
	margin:0;
	text-transform: uppercase;
}
ul.list-mini li h3 a{
	color:#282727;
}
ul.list-mini li h3 a:hover{
	color:#A1D75A;
}
ul.list-mini li p.author{
    padding-left:85px;
	font-size:13px;
	color:#11AA72;
}

/* Home 1 */
.tab_list_content p.panel{
		display:block!important;
		padding-left: 94px;
	}

/*  Header 
***************************************/
._header{
    height:40px;
    background:#fff;
    background:url("img/headergrafik_gartenmoebel.png");
    background-repeat:repeat-x;
}

.header{
    height:50px;
    padding:0 30px;
	margin: 10px;
}
 
.header .logo{
	height:70px;
	margin-top:0px;
	width:320px;
	float:left;
	color:#fff;
}
 
.header .logo img{
    height:45px;
    width:263px;   
}

.header .search{
	height:70px;
    margin-top:0px;
    width:320px;
    float:left;
    color:#fff;
}

.header .trusted{
	height:70px;
    margin-top:0px;
    width:320px;
    float:left;
    color:#fff;
	white-space: nowrap;
}

.header .search button.btn {
    background: none repeat scroll 0 0 #6A6F69 !important;
    border-color: #6A6F69 !important;
    width: 50px !important;
}
.header .search button.btn:hover {
    border-color: #000 !important;
}

/*  Responsive Menu
***************************************/
.smallmenu{
	width:100%;
	z-index:11;
	text-align:center;
	display:none;
}

#dropmenu select{
	background:transparent;
	border:1px solid #181b1e;
	border-radius:0;
	padding:10px!important;
	text-shadow: none!important;
	height:auto;
	margin-top:4px;
	 -moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow: none; 
	color:#999a9b;
	font-style:italic;
	font-size:13px;
	margin-bottom:4px;
	width:70%;
}

#dropmenu select:focus {
	border-color: #11AA72;
	box-shadow: 0px 0px 0px transparent;
}

/* Responsive Layout - Media Queries
*****************************************/

@media (max-width: 1199px) {
._header{
    height:50px;
    background:#fff;
    background:url("img/headergrafik_gartenmoebel.png");
    background-repeat:repeat-x;
}

.header .search{
	height:70px;
    margin-top:0px;
    width:270px;
    float:left;
    color:#fff;
}

.header .trusted{
	height:70px;
    margin-top:0px;
    width:250px;
    float:left;
    color:#fff;
}

.table-long{
display: none; 
}

.table-short {
display: none; 
}
}

@media (max-width: 979px) {

/* nav menu */
nav.main-navigation{
	display:none;
}
.smallmenu{
	display:block;
	padding:0px 0 0 0;
	z-index:13;
	height: 54px;
}
._header{
    height:100px;
    background:#fff;
    background:url("../wp-content/uploads/2014/03/headergrafik_gartenmoebel.png");
    background-repeat:repeat-x;
	background-position:30px 50px;
}
.header{
    height:55px;
    padding:0 30px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
	 margin: 10px;
}
.header .logo {
	width: 320px;
}

.header .search{
	width: 300px;
}
.header .trusted{
	height:70px;
    width:100%;
    float:left;
	text-align: center;
    color:#fff;
   display:table-cell;
   }
}

@media (max-width: 767px) {
.header {
	height: 190px;
}

._header{
    height:60px;
    background:#fff;
    background:url("../wp-content/uploads/2014/03/headergrafik_gartenmoebel.png");
    background-repeat:repeat-x;
	background-position:30px 10px;
}

.header {
	padding-right:10px;
	padding-left:10px;
}
.header .logo{
	width:100%;
	margin-top:20px;
	height:60px;
	text-align:center;
}
.header .logo img{
	height:45px;
}

.header .search{
	width:100%;
	float: left;
	text-align: center;
	margin-top: 20px;
}

.smallmenu{
	display:block;
	padding:0px 0 0 0;
	z-index:13;
	height: 54px;
}
}
#dropmenu select {
	margin-left:10px;
}
}
